<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="../../static/js/main.js"></script>
    <link rel="stylesheet" href="../../static/styles/index.css" />
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <title>Sven Moon</title>
  </head>
  <body>
    <nav>
      <ul class="nav__links">
        <div class="nav__edge-angle"></div>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About Me</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <div id="projects-dropdown" class="dropdown">
        Projects
        <div class="dropdown__menu">
          <a href="" data-index="1">Angular</a>
          <a href="" data-index="2">Data Visualization</a>
          <a href="" data-index="3">Fancy Forms</a>
          <a href="" data-index="4">CSS Fun</a>
        </div>
      </div>
    </nav>
    {% block content %} {% endblock content %}
  </body>
</html>
